
body {
  background-color: #222;
}
li {
	border-radius: 25px;
	text-align: center;
  padding: 5px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 10px;
  background: aqua;
}

.label {
  font-weight: bold;
}


.create-update-form {
  padding: 5px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  background: #ff69b4;
  border-radius: 25px;
  display:inline-block;
  float:left;
  width:30%;
}
#rightside{
	margin-left:400px;

}
.form-group {
  margin-bottom: 5px;
}



.container {
  position: relative;
  width: 800px;
  margin: auto;
  text-align: center;
}


h1 {
  margin: -25px 0 -5px;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 100px;
  letter-spacing: 50px;
  color: #ff69b4;

  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #f9e0ed;
}

h2 {
 	
  padding: 0;
  line-height: 70px;
  font-family: 'League Script', cursive;
  font-size: 80px;
  color: #222;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#ff69b4;
}
#menu {
	margin-left: 400px;
}
